<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |msg| %>
    <ul>
      <li>
        <%= msg %>
      </li>
    </ul>
  <% end %>
<% end %>

<%= form_for @article do |f| %>
  <%= f.label :Title %>
  <%= f.text_field :title %>
  <%= f.label :Description %>
  <%= f.text_area :description, size: "60x12" %>
  <%= f.label :Position %>
  <%= f.number_field :position %>
  <%= f.label :Status %>
  <%= f.number_field :status %>
  <p>
    <%= f.submit  %>
  </p>

<% end %>

<%= link_to "Back to articles listing", articles_path %>